body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 0px 50px;
    color: black;
    background-color: rgb(216, 216, 216);
}
img{
    max-width:100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 100%;
}
aside{
    background-color: white;
}
.h1__precio{
    font-size: 2rem;
    margin: 0px;
}
.h2__name{
    margin: 0px;
}
.b-header-left{
    width: 50%;
}
.b-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 20px;
}
.b-menu-menu{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.b-menu-menu-button{
    background-color: white;
    padding: 20px;
    border: white;
    color: black;
    margin: 0px;
    padding: 5px;
}
.b-menu-guide{
    margin: 10px;
}
.b-menu-filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(211, 211, 211);
    margin: 10px;
}
.b-menu-filter-button{
    background-color: rgb(67, 196, 67);
    padding: 10px;
    border: none;
    color: rgb(255, 255, 255);
}
.b-logo{
    width: 30%;
    padding: 3%;
    margin: 0px 0px 0px 20%;
}
.b-hijo-header-top{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}
.b-padre-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.b-hijo-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.b-padre-main-nav{
    display: flex;
    flex-direction: row;
}
.b-hijo-main-nav-box{
    width: 100%;
    background-color: green;
    padding: 20px;
    margin: calc(100%-20px);
    justify-content: stretch;
}
.b-padre-gallery{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.b-hijo-gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    margin: 25px;
    border: 2px solid black;
}

.b-hijo-gallery-info {
    display: flex;
    margin: 30px;
    flex-direction: column;
}

.b-padre-gallery-item-cta {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: self-end;
    justify-content: space-between;
}

.b-hijo-gallery-item-cta-right {
    margin: 5px;
    padding: 5px;
    border: 2px solid green;
    padding: 0px 10px 0px 10px;
}

.b-banner-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}
.b-banner-footer-item{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
}
.b-nav-footer{
    display: flex;
    flex-direction: row;
}
.b-nav-footer-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}